.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
    font-family: 'Outfit';
    margin-top: 20px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}


body {
    background-color: hsl(217, 54%, 11%);
}
.carte {
    background-color: hsl(216, 50%, 16%);
    display: grid;
    grid-gap: 10px;
    width: 285px;
    border: 1rem solid;
    border-radius: 25px;
    border-color: hsl(217, 54%, 11%);
    box-shadow: 0px 0px 20px 10px hsl(216deg 50% 16%);
    margin-left: auto;
    margin-right: auto;
  }
  .zone-image {
    grid-column: 1/3;
    grid-row: 1;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
  }

  .zone-nom {
    grid-column: 1/3;
    grid-row: 2;
    font-family: 'Outfit', sans-serif;
    color: hsl(0, 0%, 100%);
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
  }

  .zone-description {
    grid-column: 1/3;
    grid-row: 3;
    padding: 10px;
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 18px;
  }

  .zone-valeur {
    grid-column: 1;
    grid-row: 4;
    padding: 10px;
    font-family: 'Outfit', sans-serif;
    color: hsl(178, 100%, 50%);
    font-weight: 600;
  }

  .zone-duree {
    grid-column: 2;
    grid-row: 4;
    padding: 10px;
    text-align: end;
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
  }

  .zone-createur {
    grid-column: 1/3;
    grid-row: 5;
    padding: 10px;
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    border-top: 2px solid hsl(215, 32%, 27%);
    margin-right: 10px;
    margin-left: 10px;
  }

  .nom {
    color:hsl(0, 0%, 100%);
  }

  .couv {
    width: 250px;
    border-radius: 10px;
  }

  .perso {
    width: 30px;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50px;
    margin-right: 10px;
    vertical-align: middle;
  }

  .icone {
    margin-right: 7px;
  }