.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
    font-family: 'Outfit';
    margin-top: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(217, 54%, 11%);
}

.carte {
    background-color: hsl(216, 50%, 16%);
    display: grid;
    grid-gap: 23px;
    width: 300px;
    border-radius: 15px;
    margin: 150px auto 20px;
    padding: 25px;
}

.image {
    grid-column: 1/3;
    grid-row: 1;
    position: relative;
    width: 300px;
    border-radius: 10px;
    height: 300px;
    background-image: url(images/image-equilibrium.jpg);
    background-size: contain;
}

.image::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    opacity: 0;
    background: url(images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.image:hover::before {
    opacity: 1;
    background-color: hsl(178deg 100% 50% / 30%);
    border-radius: 10px;
}

.zone-nom {
    grid-column: 1/3;
    grid-row: 2;
    font-family: 'Outfit', sans-serif;
    color: hsl(0, 0%, 100%);
    font-size: 22px;
    margin: initial;
}

.zone-nom:hover {
    color: hsl(178, 100%, 50%);
}

.zone-description {
    grid-column: 1/3;
    grid-row: 3;
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 4px;
}

.zone-valeur {
    grid-column: 1;
    grid-row: 4;
    font-family: 'Outfit', sans-serif;
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

.zone-valeur::before {
    content: "";
    position: relative;
    height: 100%;
    width: 100%;
    background: url(images/icon-ethereum.svg);
    background-repeat: no-repeat;
    padding-right: 18px;
}

.zone-duree {
    grid-column: 2;
    grid-row: 4;
    text-align: end;
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

.zone-duree::before {
    content: "";
    position: relative;
    height: 100%;
    width: 100%;
    background: url(images/icon-clock.svg);
    background-repeat: no-repeat;
    padding-right: 25px;
}

.zone-createur {
    grid-column: 1/3;
    grid-row: 5;
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    border-top: 2px solid hsl(215, 32%, 27%);
    font-weight: 400;
    font-size: 16px;
    padding-top: 20px;
}

.nom {
    color: hsl(0, 0%, 100%);
}

.nom:hover {
    color: hsl(178, 100%, 50%);
}

.perso {
    width: 30px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50px;
    margin-right: 15px;
    vertical-align: middle;
}

.icone {
    margin-right: 7px;
}